<!doctype html>
	<html>
	    <head>
	        <title>{{title}}</title>
	        
	    </head>
	<body>
	    <!-- main element is a flexbox  -->
	    <main>
	        <nav>
                <a href='/'>Main Blog Page</a> <a href='/newpost' style="margin-left: 10px;">Add a Blog Entry</a>
	        </nav>
	

	        <div class="container">
	            <!-- No message categories  -->
	            {% with messages = get_flashed_messages() %}
	                {% for message in messages %}
	                    <div class="flash_message">{{message|safe}}</div>
	                {% endfor %}
	            {% endwith %}
	

	            {% block content %}
	            {% endblock %}
	

	        </div> <!-- .container -->
	    </main>
	

	</body>
	</html>
